.header {
  .logo {
    margin-right: 5px;
  }
  .about {
    .icon {
      margin-right: 5px;
    }
    span {
      position: relative;
      top: 1px;
    }
  }
  a {
    text-decoration: none;
  }
  @media screen and (max-width: 374px) {
    .navbar-brand {
      font-size: 12px;
    }
    .about {
      font-size: 12px;
      .icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}
@media screen and (max-width: 411px) {
  #popover-basic {
    max-width: 190px;
  }
}
