$theme-colors: (
  "primary": #939597,
  "secondary": #f5df4d,
  "danger": #dc3545,
);

@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;

  .alert-danger {
    margin-top: 20px;
  }
}

.modal_alert {
  margin-bottom: 0;
}
